Repository ictunion/main-website-public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kubik161, @turboMaCk, @wojciech29, @daniilsvirin

Keycloak management Text to link (#341)
  content/for-members/index.en.md
Owners: @Kubik161

MDŽ (#343)
  content/statements/2026-International-womens-day.cs.md
  content/statements/2026-International-womens-day.en.md
Owners: @Kubik161

flake default update (#344)
  flake.nix
Owners: @turboMaCk

Actionnetwork survey integration (#346)
  assets/ts/events.ts
  assets/ts/web-component/XSurvey.ts
  i18n/cs.toml
  i18n/en.toml
  layouts/events/single.html
Owners: @turboMaCk

transparency of pay event (#347)
  content/events/2026-survey-transparency-of-pay.cs.md
  content/events/2026-survey-transparency-of-pay.en.md
Owners: @Kubik161

slug change and CZ title change (#348)
  content/events/2026-survey-transparency-of-pay.cs.md
  content/events/2026-survey-transparency-of-pay.en.md
Owners: @Kubik161

fixed missing surveyId (#349)
  layouts/events/single.html
Owners: @turboMaCk

Added SUSE to application form (#351)
  layouts/register/list.html
Owners: @turboMaCk

Add SUSE workplace (#352)
  content/workplaces/suse/index.cs.md
  content/workplaces/suse/index.en.md
Owners: @Kubik161

statements cleanup, 1st of May 2026 statement, SUSE statement (#353)
  content/statements/2022-violence-against-women-in-the-ict-sector.cs.md
  content/statements/2022-violence-against-women-in-the-ict-sector.en.md
  content/statements/2023-first-of-may.cs.md
  content/statements/2023-first-of-may.en.md
  content/statements/2023-transparency-of-pay.cs.md
  content/statements/2023-transparency-of-pay.en.md
  content/statements/2023-womens-day.cs.md
  content/statements/2023-womens-day.en.md
  content/statements/2026-first-of-may.cs.md
  content/statements/2026-first-of-may.en.md
  content/statements/2026-red-hat-unions-against-lay-offs.cs.md
  content/statements/2026-red-hat-unions-against-lay-offs.en.md
  content/statements/2026-workplace-suse.cs.md
  content/statements/2026-workplace-suse.en.md
Owners: @Kubik161

adds security.txt (#354)
  static/.well-known/pgp-publickey.txt
  static/.well-known/security.txt
Owners: none

Slug issue (#355)
  content/statements/2025-first-of-may.cs.md
  content/statements/2025-first-of-may.en.md
  content/statements/2026-first-of-may.cs.md
  content/statements/2026-first-of-may.en.md
Owners: @Kubik161

fix docker build (#358)
  Dockerfile
Owners: @turboMaCk, @wojciech29, @daniilsvirin

Fix more events homepage link (#357)
  config.toml
  layouts/index.html
Owners: @turboMaCk

Add equal pay event (#359)
  content/events/2026-five-minutes-for-equal-pay.cs.md
  content/events/2026-five-minutes-for-equal-pay.en.md
Owners: @Kubik161

new pay transparency statement (#360)
  content/statements/2026-transparency-of-pay.cs.md
  content/statements/2026-transparency-of-pay.en.md
Owners: @Kubik161

Extend equal pay event with mailto links (#361)
  content/events/2026-five-minutes-for-equal-pay.cs.md
  content/events/2026-five-minutes-for-equal-pay.en.md
Owners: @Kubik161

Update statutes, add FAQ for membership fees and link it. (#362)
  assets/scss/_faq.scss
  content/faq/08-become-member.cs.md
  content/faq/08-become-member.en.md
  content/faq/09-union-dues.cs.md
  content/faq/09-union-dues.en.md
  content/faq/09-union-fees.cs.md
  content/faq/09-union-fees.en.md
  content/for-members/index.cs.md
  content/for-members/index.en.md
  content/register/_index.cs.md
  content/register/_index.en.md
  content/statutes/index.cs.md
  content/statutes/index.en.md
  content/workplaces/dhl/index.cs.md
  content/workplaces/dhl/index.en.md
  content/workplaces/infosys/index.cs.md
  content/workplaces/infosys/index.en.md
  content/workplaces/microsoft/index.cs.md
  content/workplaces/microsoft/index.en.md
  content/workplaces/redhat/index.en.md
  content/workplaces/suse/index.cs.md
  content/workplaces/suse/index.en.md
Owners: @turboMaCk, @Kubik161

30 days vacation statement (#364)
  content/statements/2026-vacation-30.cs.md
  content/statements/2026-vacation-30.en.md
Owners: @Kubik161

statement text fix (#365)
  content/statements/2026-vacation-30.en.md
Owners: @Kubik161

Transparency of pay discussion event (#366)
  content/events/2026-transparency-of-pay-discussion.cs.md
  content/events/2026-transparency-of-pay-discussion.en.md
Owners: @Kubik161

Fix dates (#367)
  content/statutes/index.cs.md
  content/statutes/index.en.md
Owners: @Kubik161

wikipedia statement (#368)
  content/statements/2026-wikipedia.cs.md
  content/statements/2026-wikipedia.en.md
Owners: @Kubik161

BBQ event (#369)
  content/events/2026-union-bbq-prague.cs.md
  content/events/2026-union-bbq-prague.en.md
Owners: @Kubik161

Bbq (#370)
  content/events/2026-union-bbq-prague.cs.md
  content/events/2026-union-bbq-prague.en.md
Owners: @Kubik161

Bbq (#372)
  content/events/2026-union-bbq-prague.cs.md
  content/events/2026-union-bbq-prague.en.md
Owners: @Kubik161

Bbq (#373)
  content/events/2026-union-bbq-prague.en.md
Owners: @Kubik161

prague discussion event (#374)
  content/events/2026-prague-transparency-of-pay-discussion.cs.md
  content/events/2026-prague-transparency-of-pay-discussion.en.md
Owners: @Kubik161

microsoft CBA statement (#375)
  content/statements/2026-microsoft-cba.cs.md
  content/statements/2026-microsoft-cba.en.md
Owners: @Kubik161

statement cleanup (#376)
  content/statements/2026-microsoft-cba.cs.md
  content/statements/2026-microsoft-cba.en.md
Owners: @Kubik161

one more MSFT change (#377)
  content/statements/2026-microsoft-cba.en.md
Owners: @Kubik161

.github/CODEOWNERS:

# !!! ATTENTION !!!
#
# In general do not put your identifiable information to any file in the repository.
# This includes any github user name, email, name or anythign that might identify you.
# That is of course unless you're OK with being publically associated with the project
# and therefore the union.

# Content
/content/            @Kubik161

# Config
*.json               @turboMaCk
*.toml               @turboMaCk

# Logic
*.js                 @turboMaCk
*.ts                 @turboMaCk

# Templates and styles
*.html               @turboMaCk
*.scss               @turboMaCk

# Docker and nix
*.nix                @turboMaCk
Dockerfile           @turboMaCk @wojciech29 @daniilsvirin
docker-compose.yaml  @turboMaCk @wojciech29 @daniilsvirin

# CI
.github/workflows    @turboMaCk @wojciech29 @daniilsvirin

# Setup Documentation
docs                 @turboMaCk
