Repository ictunion/main-website-public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kubik161, @turboMaCk, @wojciech29, @daniilsvirin

.github/CODEOWNERS:

# !!! ATTENTION !!!
#
# In general do not put your identifiable information to any file in the repository.
# This includes any github user name, email, name or anythign that might identify you.
# That is of course unless you're OK with being publically associated with the project
# and therefore the union.

# Content
/content/            @Kubik161

# Config
*.json               @turboMaCk
*.toml               @turboMaCk

# Logic
*.js                 @turboMaCk
*.ts                 @turboMaCk

# Templates and styles
*.html               @turboMaCk
*.scss               @turboMaCk

# Docker and nix
*.nix                @turboMaCk
Dockerfile           @turboMaCk @wojciech29 @daniilsvirin
docker-compose.yaml  @turboMaCk @wojciech29 @daniilsvirin

# CI
.github/workflows    @turboMaCk @wojciech29 @daniilsvirin

# Setup Documentation
docs                 @turboMaCk

Reduced motions patch (#297)
  assets/scss/_home.scss
  assets/ts/home-header.ts
  i18n/cs.toml
  i18n/en.toml
  layouts/_default/baseof.html
  layouts/partials/home-header.html
Owners: @turboMaCk

422 in validations (#298)
  .gitignore
  assets/ts/register.ts
Owners: @turboMaCk

Fix copy for no events state (#300)
  content/events/_index.en.md
Owners: @Kubik161

Update Manual setup guide (#301)
  docs/manual-setup.md
Owners: @turboMaCk

Add new workplaces (#302)
  content/workplaces/_index.cs.md
  content/workplaces/_index.en.md
  layouts/register/list.html
Owners: @Kubik161, @turboMaCk

CBA Moravia IT (#303)
  content/statements/2025-moravia-it-cba.cs.md
  content/statements/2025-moravia-it-cba.en.md
Owners: @Kubik161

2025 04 public beer and msft (#304)
  content/events/2025-union-beer-brno.cs.md
  content/events/2025-union-beer-brno.en.md
  content/workplaces/microsoft/index.cs.md
  content/workplaces/microsoft/index.en.md
Owners: @Kubik161

1st of May statement (#305)
  content/statements/2025-first-of-may.cs.md
  content/statements/2025-first-of-may.en.md
Owners: @Kubik161

socials links fix (#306)
  config.toml
Owners: @turboMaCk

added worker declaration text (#307)
  assets/scss/_single.scss
  assets/scss/_statements.scss
  config.toml
  content/declaration/index.cs.md
  content/declaration/index.en.md
  content/statements/violence-against-women-in-the-ict-sector.en.md
  content/statutes/index.en.md
  flake.nix
  layouts/declaration/single.html
  layouts/partials/secondary-navigation.html
Owners: @turboMaCk, @Kubik161

declaration final changes (#308)
  config.toml
  content/declaration/index.cs.md
Owners: @turboMaCk, @Kubik161

Infosys union page (#309)
  content/workplaces/infosys/index.cs.md
  content/workplaces/infosys/index.en.md
Owners: @Kubik161

infosys duplication fix (#310)
  content/workplaces/_index.cs.md
  content/workplaces/_index.en.md
Owners: @Kubik161

First draft of bbq event (#311)
  content/events/2025-union-bbq-prague.cs.md
  content/events/2025-union-bbq-prague.en.md
Owners: @Kubik161

home office webinar (#312)
  content/events/2025-homeoffice-webinar.cs.md
  content/events/2025-homeoffice-webinar.en.md
Owners: @Kubik161

DHL statement (#313)
  content/statements/2026-workplace-dhl.cs.md
  content/statements/2026-workplace-dhl.en.md
Owners: @Kubik161

dhl statement fix date (#314)
  content/statements/2025-workplace-dhl.cs.md
  content/statements/2025-workplace-dhl.en.md
Owners: @Kubik161

2025 07 infosys page update (#315)
  content/workplaces/infosys/index.cs.md
  content/workplaces/infosys/index.en.md
Owners: @Kubik161

feat: add a “For Members” section, fixes #299 (#316)
  config.toml
  content/for-members/index.cs.md
  content/for-members/index.en.md
  layouts/partials/header.html
Owners: @turboMaCk, @Kubik161

feat(register): strip leading and trailing whitespaces, fixes #267 (#317)
  assets/ts/register.ts
  assets/ts/register/RegistrationForm.ts
  layouts/register/list.html
Owners: @turboMaCk

feat(registration): add language field (#318)
  assets/ts/register.ts
  i18n/cs.toml
  i18n/en.toml
  layouts/register/list.html
Owners: @turboMaCk

updated footer (#319)
  layouts/partials/footer.html
Owners: @turboMaCk

fix headline level for english version of for members (#320)
  content/for-members/index.en.md
Owners: @Kubik161

Statement chat control (#321)
  content/statements/2025-chat-control.cs.md
  content/statements/2025-chat-control.en.md
Owners: @Kubik161

Chat control fix typo (#323)
  content/statements/2025-chat-control.en.md
Owners: @Kubik161

Fix share (#324)
  i18n/en.toml
  layouts/partials/share.html
Owners: @turboMaCk

new event doctorow talk (#325)
  content/events/2025-tech-unions-against-enshittification.cs.md
  content/events/2025-tech-unions-against-enshittification.en.md
Owners: @Kubik161

Application QR code (#326)
  content/qr/index.cs.md
  content/qr/index.en.md
Owners: @Kubik161

fixed links leading to admin site (#327)
  content/for-members/index.cs.md
  content/for-members/index.en.md
Owners: @Kubik161

added extra line of text (#329)
  content/register/_index.cs.md
  content/register/_index.en.md
Owners: @Kubik161

monster insolvency statement (#330)
  content/statements/2025-monster.cs.md
  content/statements/2025-monster.en.md
Owners: @Kubik161

added script to move tag (#331)
  .gitignore
Owners: none

Update statutes (#333)
  content/statutes/index.cs.md
  content/statutes/index.en.md
Owners: @Kubik161

Update workplaces (#328)
  content/workplaces/_index.cs.md
  content/workplaces/_index.en.md
  layouts/register/list.html
Owners: @Kubik161, @turboMaCk

Remove outdated banner from Microsoft union pages (#336)
  content/workplaces/microsoft/index.cs.md
  content/workplaces/microsoft/index.en.md
Owners: @Kubik161

Add link to subscribe to mailing list to Microsoft union page (#338)
  content/workplaces/microsoft/index.cs.md
  content/workplaces/microsoft/index.en.md
Owners: @Kubik161

Add link to join the union and enlarge links for MS union page (#339)
  content/workplaces/microsoft/index.cs.md
  content/workplaces/microsoft/index.en.md
Owners: @Kubik161

About us - people shortcode (#334)
  assets/img/anna_photo.webp
  assets/img/bara_photo.webp
  assets/scss/_single.scss
  config.toml
  content/about/index.cs.md
  content/about/index.en.md
  layouts/shortcodes/people.html
Owners: @turboMaCk, @Kubik161

2026 movie screening (#337)
  content/events/2026-movie-screening-brno.cs.md
  content/events/2026-movie-screening-brno.en.md
Owners: @Kubik161

for members keycloak link (#340)
  content/for-members/index.cs.md
  content/for-members/index.en.md
Owners: @Kubik161
