Repository ictunion/main-website-public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kubik161, @turboMaCk, @wojciech29, @daniilsvirin

.github/CODEOWNERS:

# !!! ATTENTION !!!
#
# In general do not put your identifiable information to any file in the repository.
# This includes any github user name, email, name or anythign that might identify you.
# That is of course unless you're OK with being publically associated with the project
# and therefore the union.
#
# This particular file is excluded from public tar ball though
# but we can't gurantee anyone would not produce tar.gz in some different way in the future
# which would include this file.

# Content
/content/            @Kubik161

# Config
*.json               @turboMaCk
*.toml               @turboMaCk

# Logic
*.js                 @turboMaCk
*.ts                 @turboMaCk

# Templates and styles
*.html               @turboMaCk
*.scss               @turboMaCk

# Docker and nix
*.nix                @turboMaCk
Dockerfile           @turboMaCk @wojciech29 @daniilsvirin
docker-compose.yaml  @turboMaCk @wojciech29 @daniilsvirin

# CI
.github/workflows    @turboMaCk @wojciech29 @daniilsvirin

# Setup Documentation
docs                 @turboMaCk

Source code changed from gtihub to tar file (#116)
  layouts/partials/footer.html
Owners: @turboMaCk

Improve layout organization (#118)
  layouts/faq/list.html
Owners: @turboMaCk

Add women's day statement to archive of statements for future use (#119)
  archetypes/statements.md
  content/statements/womens_day_2023.cs.md
  content/statements/womens_day_2023.en.md
  latex/print-all
Owners: @Kubik161

Add support for social network links (#120)
  assets/scss/_icons.scss
  assets/scss/_site-styles.scss
  assets/scss/main.scss
  config.toml
  layouts/partials/footer.html
  layouts/partials/site-head.html
  static/font/icons-social-media-8/IconsSocialMedia8.eot
  static/font/icons-social-media-8/IconsSocialMedia8.svg
  static/font/icons-social-media-8/IconsSocialMedia8.ttf
  static/font/icons-social-media-8/IconsSocialMedia8.woff
  static/font/icons-social-media-8/IconsSocialMedia8.woff2
Owners: @turboMaCk

initial commit - content (#102)
  content/home-events/index.cs.md
  content/home-events/index.en.md
Owners: @Kubik161

Home: Add membership section content (#105)
  content/home-membership/_index.cs.md
  content/home-membership/_index.en.md
  content/home-membership/box-1.cs.md
  content/home-membership/box-1.en.md
  content/home-membership/box-2.cs.md
  content/home-membership/box-2.en.md
  content/home-membership/box-3.cs.md
  content/home-membership/box-3.en.md
  content/home-membership/box-4.cs.md
  content/home-membership/box-4.en.md
Owners: @Kubik161

update registration request to expect json (#121)
  assets/scss/_icons.scss
  assets/ts/register.ts
Owners: @turboMaCk

support for new empty validation (#122)
  assets/ts/register/validations.cs.ts
  assets/ts/register/validations.en.ts
  assets/ts/register/validations.ts
Owners: @turboMaCk

added CC license (#123)
  README.md
  content/LICENSE
Owners: @Kubik161

Optimize actions (#124)
  .github/workflows/build.yaml
  .github/workflows/docker-build.yaml
  .github/workflows/publish.yaml
  flake.nix
  latex/default.nix
  public-contributors.toml
  release.nix
Owners: @turboMaCk, @wojciech29, @daniilsvirin

improve FAQ CSS (#126)
  assets/scss/_faq.scss
  layouts/faq/list.html
Owners: @turboMaCk

Revamp footer (#130)
  assets/scss/_site-styles.scss
  config.toml
  layouts/partials/footer.html
Owners: @turboMaCk

added support contacts (#131)
  config.toml
Owners: @turboMaCk

Add contacts section to footer (#132)
  assets/scss/_site-styles.scss
  config.toml
  layouts/partials/footer.html
Owners: @turboMaCk

improve styling on homepage (#128)
  README.md
  assets/scss/_faq.scss
  assets/scss/_home.scss
  assets/scss/_mixins.scss
  config.toml
  layouts/index.html
  layouts/partials/home-header.html
Owners: @turboMaCk

Suggestion for czech version of participate section (#129)
  content/home-membership/_index.cs.md
  content/home-membership/box-1.cs.md
  content/home-membership/box-2.cs.md
  content/home-membership/box-3.cs.md
  content/home-participate/box-1.cs.md
  content/home-participate/box-2.cs.md
  content/home-participate/box-3.cs.md
Owners: @Kubik161

Break "ukranine flag pattern" in FAQ (#127)
  assets/scss/_faq.scss
  content/faq/07-inform-employer.cs.md
  layouts/faq/list.html
Owners: @turboMaCk, @Kubik161

remove unused content files (#136)
  content/home/index.md
  content/occupations.cs.md
  content/occupations.en.md
Owners: @Kubik161

social urls and instagram (#137)
  assets/scss/_icons.scss
  config.toml
  layouts/partials/footer.html
Owners: @turboMaCk

Highlight occupations (#133)
  assets/scss/_faq.scss
  assets/scss/_home.scss
  assets/scss/_mixins.scss
  assets/ts/index.ts
  content/faq/12-who-are-we.cs.md
  content/faq/12-who-are-we.en.md
  data/occupations.yaml
  i18n/cs.toml
  i18n/en.toml
  layouts/partials/home-header.html
  layouts/shortcodes/occupations.html
Owners: @turboMaCk, @Kubik161

Kubik161 added to contributors (#139)
  public-contributors.toml
Owners: @turboMaCk

Improve text english variant of home page (#140)
  config.toml
  content/home-membership/_index.en.md
  content/home-membership/box-1.cs.md
  content/home-membership/box-1.en.md
  content/home-membership/box-2.en.md
  content/home-membership/box-3.en.md
  content/home-participate/box-1.en.md
  content/home-participate/box-2.en.md
  content/home-participate/box-3.en.md
  data/occupations.yaml
Owners: @turboMaCk, @Kubik161

Edit faq 5, correct typos in cs and en (#142)
  content/_index.en.md
  content/about/index.cs.md
  content/faq/01-what-is-union.cs.md
  content/faq/05-become-member.cs.md
  content/faq/05-become-member.en.md
  content/faq/07-inform-employer.cs.md
  content/faq/08-become-member.en.md
  content/faq/09-union-dues.en.md
  content/faq/11-what-is-the-ict-sector.en.md
  content/home-membership/box-1.cs.md
  content/home-participate/box-1.cs.md
  content/register/_index.cs.md
  data/occupations.yaml
Owners: @Kubik161

Intercorporate feedback from google doc (#141)
  assets/scss/_faq.scss
  assets/scss/_home.scss
  assets/scss/_mixins.scss
  assets/scss/_single.scss
  assets/scss/_site-styles.scss
  config.toml
  content/_index.cs.md
  content/about/index.cs.md
  content/about/index.en.md
  content/faq/_index.cs.md
  content/faq/_index.en.md
  content/home-participate/box-3.cs.md
  content/home-participate/box-3.en.md
  layouts/partials/footer.html
  layouts/partials/home-header.html
  layouts/shortcodes/contacts.html
Owners: @turboMaCk, @Kubik161

Update personal data FAQ (#135)
  content/faq/10-sensitive-data.cs.md
  content/faq/10-sensitive-data.en.md
  content/register/_index.cs.md
Owners: @Kubik161

Unix terminal effect (#143)
  assets/scss/_home.scss
Owners: @turboMaCk

Replace non-code register mentions (#134)
  config.toml
  content/faq/08-become-member.cs.md
  content/faq/08-become-member.en.md
  content/home-participate/box-1.cs.md
  content/home-participate/box-1.en.md
  content/register/_index.cs.md
  content/register/_index.en.md
  proxy/README.md
Owners: @turboMaCk, @Kubik161

WIP #138 - adding wojciech29 to public contributors (#145)
  public-contributors.toml
Owners: @turboMaCk

fix minor regression in occupations list in FAQ (#144)
  assets/scss/_faq.scss
  assets/scss/_site-styles.scss
Owners: @turboMaCk

added extra sentence to statutes page (#147)
  assets/scss/_single.scss
  content/statutes/index.cs.md
  content/statutes/index.en.md
  layouts/_default/single.html
Owners: @turboMaCk, @Kubik161

add translations for application placeholders (#146)
  i18n/cs.toml
  i18n/en.toml
  layouts/register/list.html
Owners: @turboMaCk

Remove workflow for publishing (#149)
  .github/workflows/publish.yaml
Owners: @turboMaCk, @wojciech29, @daniilsvirin

update public-contributors.toml (#151)
  public-contributors.toml
Owners: @turboMaCk

Content updates (#150)
  content/about/index.cs.md
  content/home-membership/box-1.cs.md
  content/home-membership/box-2.cs.md
  content/home-membership/box-3.cs.md
Owners: @Kubik161

Small fixes of typos/bugs (#148)
  assets/scss/_site-styles.scss
  content/about/index.cs.md
  content/faq/04-goals.cs.md
  content/home-participate/box-1.cs.md
  content/home-participate/box-3.cs.md
  i18n/cs.toml
  i18n/en.toml
  layouts/shortcodes/contacts.html
Owners: @turboMaCk, @Kubik161
