Repository ictunion/main-website-public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kubik161, @turboMaCk, @wojciech29, @daniilsvirin

Fix email in privacy page (#200)
  content/privacy/index.cs.md
  content/privacy/index.en.md
Owners: @Kubik161

Fix email in privacy page (#200)
  content/privacy/index.cs.md
  content/privacy/index.en.md
Owners: @Kubik161

add cmkos support statement (czech only) (#201)
  assets/scss/_mixins.scss
  content/statements/cmkos-support/index.cs.md
  content/statements/cmkos-support/photo.png
Owners: @turboMaCk, @Kubik161

add cmkos support statement (czech only) (#201)
  assets/scss/_mixins.scss
  content/statements/cmkos-support/index.cs.md
  content/statements/cmkos-support/photo.png
Owners: @turboMaCk, @Kubik161

CMKOS statement text updated (#202)
  content/statements/cmkos-support/index.cs.md
Owners: @Kubik161

CMKOS statement text updated (#202)
  content/statements/cmkos-support/index.cs.md
Owners: @Kubik161

Add english translation for CMKOS statement (#203)
  content/statements/cmkos-support/index.en.md
Owners: @Kubik161

Add english translation for CMKOS statement (#203)
  content/statements/cmkos-support/index.en.md
Owners: @Kubik161

improve title of en version of badge statement (#204)
  content/statements/cmkos-support/index.en.md
Owners: @Kubik161

improve title of en version of badge statement (#204)
  content/statements/cmkos-support/index.en.md
Owners: @Kubik161

new event AI meeting (#205)
  content/events/2023-ai-meeting/index.cs.md
  content/events/2023-ai-meeting/index.en.md
  content/events/2023-ai-meeting/poster-cs.jpg
  content/events/2023-ai-meeting/poster-en.jpg
Owners: @Kubik161

statement: transparency of pay (#206)
  content/events/2023-call-for-support-transparency.cs.md
  content/events/2023-call-for-support-transparency.en.md
  content/statements/transparency-of-pay-2023.cs.md
  content/statements/transparency-of-pay-2023.en.md
Owners: @Kubik161

Campaign statement title fix (#207)
  content/statements/transparency-of-pay-2023.en.md
Owners: @Kubik161

Event picnic 2023 (#208)
  assets/scss/_events.scss
  content/events/2023-ai-meeting/index.cs.md
  content/events/2023-ai-meeting/index.en.md
  content/events/2023-ai-meeting/poster-en.jpg
  content/events/2023-ai-meeting/poster.jpg
  content/events/2023-picnic/index.cs.md
  content/events/2023-picnic/index.en.md
  content/events/2023-picnic/poster.jpeg
Owners: @turboMaCk, @Kubik161

Update (#210)
  Dockerfile
  default.nix
  flake.lock
  flake.nix
  layouts/register/list.html
  nix/overlay/default.nix
  nix/pkgs/dart-sass-embedded-bin.nix
Owners: @turboMaCk, @wojciech29, @daniilsvirin

Petition support (#209)
  assets/scss/main.scss
  content/events/2023-call-for-support-transparency.cs.md
  content/events/2023-call-for-support-transparency.en.md
  layouts/events/single.html
Owners: @turboMaCk, @Kubik161

mastodon verification (#211)
  layouts/partials/footer.html
Owners: @turboMaCk

form cookie consent (#212)
  assets/scss/_events.scss
  i18n/cs.toml
  i18n/en.toml
  layouts/events/single.html
Owners: @turboMaCk

Improvements in events layout and petition support (#213)
  assets/scss/_events.scss
  content/events/2023-call-for-support-transparency.cs.md
  content/events/2023-call-for-support-transparency.en.md
  layouts/events/single.html
Owners: @turboMaCk, @Kubik161

Add new petition for transparent communication (#214)
  content/events/2023-petition-transparent-communication.cs.md
  content/events/2023-petition-transparent-communication.en.md
Owners: @Kubik161

fix petition side pane CTA copy (#215)
  assets/scss/_events.scss
  layouts/events/single.html
Owners: @turboMaCk

petition transparency fix (#216)
  content/events/2023-petition-transparent-communication.cs.md
  content/events/2023-petition-transparent-communication.en.md
Owners: @Kubik161

Fix footer contact links (#217)
  layouts/partials/footer.html
Owners: @turboMaCk

Improve titles for transparency of pay petition (#218)
  content/events/2023-call-for-support-transparency.cs.md
  content/events/2023-call-for-support-transparency.en.md
  content/statements/transparency-of-pay-2023.cs.md
  content/statements/transparency-of-pay-2023.en.md
Owners: @Kubik161

Unity statement (#221)
  content/statements/2023-unity-license.cs.md
  content/statements/2023-unity-license.en.md
Owners: @Kubik161

Fix CodeSpaces script (hugo compatibility) (#222)
  cs-start
Owners: none

Implement proper consent for petitions (#223)
  assets/scss/_events.scss
  assets/ts/events.ts
  assets/ts/web-component/XPetition.ts
  i18n/cs.toml
  i18n/en.toml
  layouts/events/single.html
Owners: @turboMaCk

New event climate workshop (#225)
  content/events/2023-climate-workshop-brno/index.cs.md
  content/events/2023-climate-workshop-brno/index.en.md
  content/events/2023-climate-workshop-brno/poster.jpg
  content/events/2023-climate-workshop-praha/index.cs.md
  content/events/2023-climate-workshop-praha/index.en.md
  content/events/2023-climate-workshop-praha/poster.jpg
Owners: @Kubik161

Improve cookie copy in CS variant (#226)
  i18n/cs.toml
Owners: @turboMaCk

Optimize CI build (#227)
  .github/workflows/build.yaml
  .github/workflows/docker-build.yaml
Owners: @turboMaCk, @wojciech29, @daniilsvirin

Updated Codespaces guide, editorial and formatting changes. (#230)
  docs/codespaces.md
Owners: @turboMaCk

Workplaces (#236)
  assets/scss/_mixins.scss
  assets/scss/_shortcodes.scss
  assets/scss/_single.scss
  assets/scss/_site-styles.scss
  assets/scss/_workplaces.scss
  assets/scss/main.scss
  config.toml
  content/events/2022-inflation-survey.cs.md
  content/events/2022-inflation-survey.en.md
  content/faq/_index.cs.md
  content/faq/_index.en.md
  content/workplaces/_index.cs.md
  content/workplaces/_index.en.md
  content/workplaces/redhat/index.cs.md
  content/workplaces/redhat/index.en.md
  layouts/about/single.html
  layouts/partials/footer.html
  layouts/partials/header.html
  layouts/partials/secondary-navigation.html
  layouts/partials/workplace-item.html
  layouts/statements/list.html
  layouts/statutes/single.html
  layouts/workplaces/list.html
  layouts/workplaces/single.html
Owners: @turboMaCk, @Kubik161

Add Moravia IT to workplaces (#239)
  content/workplaces/_index.cs.md
  content/workplaces/_index.en.md
  layouts/partials/workplace-item.html
Owners: @Kubik161, @turboMaCk

Changed membership dues to 300 (#242)
  content/faq/08-become-member.cs.md
  content/faq/08-become-member.en.md
  content/register/_index.cs.md
  content/register/_index.en.md
  content/workplaces/redhat/index.en.md
Owners: @Kubik161

update node deps (#243)
  package-lock.json
Owners: @turboMaCk

Changed Email field in form (#244)
  i18n/cs.toml
  i18n/en.toml
  layouts/register/list.html
Owners: @turboMaCk

FAQ Signal Phone Number (#245)
  content/faq/11-phone-number.cs.md
  content/faq/11-phone-number.en.md
Owners: @Kubik161

Update index.en.md (#241)
  content/workplaces/redhat/index.en.md
Owners: @Kubik161

Fix #228: Improve union application (#247)
  assets/scss/_register.scss
  content/register/_index.cs.md
  content/register/_index.en.md
  i18n/cs.toml
  i18n/en.toml
  layouts/register/list.html
Owners: @turboMaCk, @Kubik161

event climate brochure (#248)
  content/events/2023-brochure/data/climate_brochure_2023_web.pdf
  content/events/2023-brochure/index.cs.md
  content/events/2023-brochure/index.en.md
Owners: @Kubik161

.github/CODEOWNERS:

# !!! ATTENTION !!!
#
# In general do not put your identifiable information to any file in the repository.
# This includes any github user name, email, name or anythign that might identify you.
# That is of course unless you're OK with being publically associated with the project
# and therefore the union.

# Content
/content/            @Kubik161

# Config
*.json               @turboMaCk
*.toml               @turboMaCk

# Logic
*.js                 @turboMaCk
*.ts                 @turboMaCk

# Templates and styles
*.html               @turboMaCk
*.scss               @turboMaCk

# Docker and nix
*.nix                @turboMaCk
Dockerfile           @turboMaCk @wojciech29 @daniilsvirin
docker-compose.yaml  @turboMaCk @wojciech29 @daniilsvirin

# CI
.github/workflows    @turboMaCk @wojciech29 @daniilsvirin

# Setup Documentation
docs                 @turboMaCk
