Repository ictunion/main-website-public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kubik161, @turboMaCk, @wojciech29, @daniilsvirin

.github/CODEOWNERS:

# !!! ATTENTION !!!
#
# In general do not put your identifiable information to any file in the repository.
# This includes any github user name, email, name or anythign that might identify you.
# That is of course unless you're OK with being publically associated with the project
# and therefore the union.
#
# This particular file is excluded from public tar ball but is visible in public mirror of the repository!

# Content
/content/            @Kubik161

# Config
*.json               @turboMaCk
*.toml               @turboMaCk

# Logic
*.js                 @turboMaCk
*.ts                 @turboMaCk

# Templates and styles
*.html               @turboMaCk
*.scss               @turboMaCk

# Docker and nix
*.nix                @turboMaCk
Dockerfile           @turboMaCk @wojciech29 @daniilsvirin
docker-compose.yaml  @turboMaCk @wojciech29 @daniilsvirin

# CI
.github/workflows    @turboMaCk @wojciech29 @daniilsvirin

# Setup Documentation
docs                 @turboMaCk

Refactor snake case to camle case (#152)
  config.toml
  content/faq/_index.cs.md
  content/faq/_index.en.md
  content/home-participate/box-3.cs.md
  content/home-participate/box-3.en.md
  content/register/confirmation.cs.md
  content/register/confirmation.en.md
  content/statutes/index.cs.md
  content/statutes/index.en.md
  layouts/_default/single.html
Owners: @turboMaCk, @Kubik161

Image resizing (#153)
  assets/ts/events.ts
  assets/ts/index.ts
  assets/ts/register.ts
  assets/ts/register/RegistrationForm.ts
  assets/ts/web-component/XMap.ts
  assets/ts/web-component/XSign.ts
  layouts/shortcodes/contacts.html
Owners: @turboMaCk

Fixed social media icons interaction with AdBlock (#154)
  assets/scss/_icons.scss
  layouts/partials/footer.html
  static/font/icons/icons8.eot
  static/font/icons/icons8.svg
  static/font/icons/icons8.ttf
  static/font/icons/icons8.woff
  static/font/icons/icons8.woff2
Owners: @turboMaCk

Fix datepicker initialization (#155)
  assets/ts/register.ts
  assets/ts/register/RegistrationForm.ts
Owners: @turboMaCk

Fix formatting so that it follows .editorconfig rules (#156)
  assets/scss/_home.scss
  content/faq/10-sensitive-data.en.md
  content/register/_index.cs.md
  layouts/partials/footer.html
Owners: @turboMaCk, @Kubik161

Fix formatting (#157)
  content/register/confirmation.cs.md
  content/register/confirmation.en.md
Owners: @Kubik161

use regular space in list-style-type (#159)
  assets/scss/_faq.scss
  assets/scss/_home.scss
Owners: @turboMaCk

improve membership section of homepage (#158)
  assets/scss/_home.scss
  content/home-membership/box-1.cs.md
  content/home-membership/box-2.cs.md
  content/home-membership/box-3.cs.md
Owners: @turboMaCk, @Kubik161

Improve text alignment (#160)
  assets/scss/_faq.scss
  assets/scss/_mixins.scss
  assets/scss/_single.scss
  assets/scss/_site-styles.scss
  content/register/_index.cs.md
  content/register/_index.en.md
  content/statutes/index.cs.md
  content/statutes/index.en.md
  layouts/_default/single.html
Owners: @turboMaCk, @Kubik161

typo correction
  content/about/index.cs.md
Owners: @Kubik161

Prevent typing effect from jumping page on mobile (#161)
  assets/scss/_home.scss
  assets/ts/home-header.ts
  layouts/partials/home-header.html
Owners: @turboMaCk

Fix contacts in footer (#162)
  layouts/partials/footer.html
Owners: @turboMaCk

Small fixes - typos, css, layout (#163)
  assets/scss/_site-styles.scss
  assets/ts/register/validations.cs.ts
  content/about/index.cs.md
  content/faq/06-time-dedication.cs.md
  content/home-participate/box-1.cs.md
  content/register/confirmation.cs.md
  layouts/register/list.html
Owners: @turboMaCk, @Kubik161

Fix link in README.md file (#164)
  README.md
Owners: none

sanitize files to use spaces and unix line ends (#166)
  assets/scss/_fonts.scss
  static/font/AbrilFatface/OFL.txt
  static/font/AbrilFatface/generator_config.txt
  static/font/MerriweatherSans/OFL.txt
Owners: @turboMaCk

Adjust columns for updated fonts (#167)
  assets/scss/_mixins.scss
Owners: @turboMaCk

Fix few known issues with CS content (#168)
  content/home-participate/box-2.cs.md
  content/register/_index.cs.md
  content/register/_index.en.md
Owners: @Kubik161

fix stylistic err (#169)
  content/register/_index.cs.md
Owners: @Kubik161

Update english texts (#170)
  README.md
  config.toml
  content/about/index.en.md
  content/faq/01-what-is-union.cs.md
  content/faq/01-what-is-union.en.md
  content/faq/02-why-union.cs.md
  content/faq/02-why-union.en.md
  content/faq/03-need-in-sector.cs.md
  content/faq/03-need-in-sector.en.md
  content/faq/04-goals.cs.md
  content/faq/04-goals.en.md
  content/faq/05-become-member.en.md
  content/faq/06-time-dedication.cs.md
  content/faq/06-time-dedication.en.md
  content/faq/07-inform-employer.cs.md
  content/faq/07-inform-employer.en.md
  content/faq/08-become-member.cs.md
  content/faq/08-become-member.en.md
  content/faq/09-union-dues.cs.md
  content/faq/09-union-dues.en.md
  content/faq/10-sensitive-data.en.md
  content/faq/11-what-is-the-ict-sector.cs.md
  content/faq/11-what-is-the-ict-sector.en.md
  content/faq/12-who-are-we.cs.md
  content/faq/12-who-are-we.en.md
  content/faq/_index.en.md
  content/home-events/index.en.md
  content/home-membership/_index.en.md
  content/home-membership/box-1.en.md
  content/home-membership/box-2.en.md
  content/home-membership/box-3.en.md
  content/home-participate/box-1.en.md
  content/home-participate/box-2.en.md
  content/home-participate/box-3.en.md
  content/register/_index.cs.md
  content/register/_index.en.md
Owners: @turboMaCk, @Kubik161

fix link in README (#171)
  README.md
Owners: none

Cosmetics (#172)
  assets/scss/_home.scss
  assets/scss/_register.scss
  assets/scss/_site-styles.scss
  layouts/partials/header.html
  layouts/register/list.html
Owners: @turboMaCk

statements are viewable in browser (#173)
  archetypes/statements.md
  assets/scss/_statements.scss
  assets/scss/main.scss
  config.toml
  content/statements/_index.md
  content/statements/womens-day-2023.cs.md
  content/statements/womens-day-2023.en.md
  latex/print-all
  layouts/statements/single.html
Owners: @turboMaCk, @Kubik161

improve permalinks mapping (#175)
  config.toml
Owners: @turboMaCk

Improve statements integration (#174)
  archetypes/statements.md
  assets/scss/_events.scss
  assets/scss/_list.scss
  assets/scss/_mixins.scss
  assets/scss/_single.scss
  assets/scss/_statements.scss
  content/about/index.en.md
  content/statements/_index.cs.md
  content/statements/_index.en.md
  content/statements/_index.md
  content/statements/violence-against-women-in-the-ict-sector.cs.md
  content/statements/violence-against-women-in-the-ict-sector.en.md
  content/statements/womens-day-2023.cs.md
  content/statements/womens-day-2023.en.md
  content/statutes/index.cs.md
  content/statutes/index.en.md
  i18n/cs.toml
  i18n/en.toml
  layouts/about/single.html
  layouts/events/list.html
  layouts/events/single.html
  layouts/partials/share.html
  layouts/statements/list.html
  layouts/statements/single.html
  layouts/statutes/single.html
Owners: @turboMaCk, @Kubik161

Improve statements integration (#174)
  archetypes/statements.md
  assets/scss/_events.scss
  assets/scss/_list.scss
  assets/scss/_mixins.scss
  assets/scss/_single.scss
  assets/scss/_statements.scss
  content/about/index.en.md
  content/statements/_index.cs.md
  content/statements/_index.en.md
  content/statements/_index.md
  content/statements/violence-against-women-in-the-ict-sector.cs.md
  content/statements/violence-against-women-in-the-ict-sector.en.md
  content/statements/womens-day-2023.cs.md
  content/statements/womens-day-2023.en.md
  content/statutes/index.cs.md
  content/statutes/index.en.md
  i18n/cs.toml
  i18n/en.toml
  layouts/about/single.html
  layouts/events/list.html
  layouts/events/single.html
  layouts/partials/share.html
  layouts/statements/list.html
  layouts/statements/single.html
  layouts/statutes/single.html
Owners: @turboMaCk, @Kubik161

Document deployments (#176)
  README.md
Owners: none

Document deployments (#176)
  README.md
Owners: none
