Repository ictunion/main-website-public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kubik161, @turboMaCk, @wojciech29, @daniilsvirin

Update statutes to the current binding version (#249)
  content/statutes/index.cs.md
  content/statutes/index.en.md
  latex/legal.sty
Owners: @Kubik161

Fix nix compatibility (#252)
  .github/workflows/docker-build.yaml
  Dockerfile
  default.nix
  docs/manual-setup.md
  flake.lock
  flake.nix
  nix/overlay/default.nix
  package-lock.json
Owners: @turboMaCk, @wojciech29, @daniilsvirin

Hide petition sign functionality for past events (#253)
  layouts/events/single.html
Owners: @turboMaCk

Define re-build script for website (#254)
  .github/workflows/build.yaml
  default.nix
  docs/nix.md
  flake.nix
Owners: @turboMaCk, @wojciech29, @daniilsvirin

2024 introduction to union (#255)
  content/events/2024-introduction-to-union.cs.md
  content/events/2024-introduction-to-union.en.md
Owners: @Kubik161

Add a newsletter link to RH FAQ (#256)
  content/workplaces/redhat/index.en.md
Owners: @Kubik161

Add baseURL (#257)
  .github/workflows/build.yaml
  config.toml
Owners: @turboMaCk, @wojciech29, @daniilsvirin

petition and new statement (#258)
  content/about/index.cs.md
  content/about/index.en.md
  content/events/2023-call-for-support-transparency.cs.md
  content/events/2023-call-for-support-transparency.en.md
  content/statements/2024-dell-union-support-statement.cs.md
  content/statements/2024-dell-union-support-statement.en.md
Owners: @Kubik161

statement termination without cause (#259)
  content/statements/2024-termination-without-cause.cs.md
  content/statements/2024-termination-without-cause.en.md
Owners: @Kubik161

Fix English statutes (#260)
  content/statutes/index.en.md
Owners: @Kubik161

Remove newsletter link (#261)
  content/workplaces/redhat/index.en.md
Owners: @Kubik161

Add new workplace(s) (#263)
  content/workplaces/_index.cs.md
  content/workplaces/_index.en.md
  layouts/register/list.html
Owners: @Kubik161, @turboMaCk

Grammar fixes in EN (#264)
  content/_index.en.md
  content/home-participate/box-1.en.md
  content/register/_index.en.md
  content/workplaces/_index.en.md
Owners: @Kubik161

expedia statement (#265)
  content/statements/2024-workplace-expedia.cs.md
  content/statements/2024-workplace-expedia.en.md
Owners: @Kubik161

2024 first of may statement (#266)
  content/statements/2024-first-of-may.cs.md
  content/statements/2024-first-of-may.en.md
Owners: @Kubik161

2024 petition social dialog (#268)
  content/events/2024-petition-social-dialog.cs.md
  content/events/2024-petition-social-dialog.en.md
  i18n/cs.toml
Owners: @Kubik161, @turboMaCk

2024 law webinar (#270)
  content/events/2024-law-webinar.cs.md
  content/events/2024-law-webinar.en.md
Owners: @Kubik161

date fix (#271)
  content/events/2024-law-webinar.cs.md
  content/events/2024-law-webinar.en.md
Owners: @Kubik161

[DO NOT MERGE] Statute updates (#269)
  content/statutes/index.cs.md
  content/statutes/index.en.md
Owners: @Kubik161

added MS workplace info page (#273)
  content/workplaces/microsoft/index.cs.md
  content/workplaces/microsoft/index.en.md
  public-contributors.toml
Owners: @Kubik161, @turboMaCk

New Event: Webinar on workers' rights (#274)
  assets/scss/_events.scss
  content/events/2024-workers-rights-webinar/index.cs.md
  content/events/2024-workers-rights-webinar/index.en.md
  content/events/2024-workers-rights-webinar/poster.png
Owners: @turboMaCk, @Kubik161

Update flake (#275)
  Dockerfile
  content/events/2024-workers-rights-webinar/index.cs.md
  content/events/2024-workers-rights-webinar/index.en.md
  flake.lock
Owners: @turboMaCk, @wojciech29, @daniilsvirin, @Kubik161

Improve alternate text for logos (#276)
  config.toml
  layouts/about/single.html
  layouts/events/single.html
  layouts/partials/header.html
  layouts/partials/site-head.html
  layouts/partials/workplace-item.html
  layouts/statements/single.html
Owners: @turboMaCk

Improve accessibility of language selector (#278)
  assets/scss/_site-styles.scss
  i18n/cs.toml
  i18n/en.toml
  layouts/partials/header.html
Owners: @turboMaCk

Improve accessibility of shuffled typing (#279)
  assets/ts/home-header.ts
  i18n/cs.toml
  i18n/en.toml
  layouts/partials/home-header.html
Owners: @turboMaCk

Accessibly label social media icons (#277)
  layouts/partials/footer.html
Owners: @turboMaCk

2024 union organizer (#280)
  archetypes/career.md
  assets/scss/_career.scss
  assets/scss/main.scss
  config.toml
  content/career/2024-organizer.cs.md
  content/career/2024-organizer.en.md
  layouts/career/single.html
Owners: @turboMaCk, @Kubik161

minor changes in organizer advert (#281)
  content/career/2024-organizer.cs.md
  content/career/2024-organizer.en.md
Owners: @Kubik161

added vacation to advert (#282)
  content/career/2024-organizer.cs.md
  content/career/2024-organizer.en.md
Owners: @Kubik161

extended deadline for job offer (#286)
  content/career/2024-organizer.cs.md
  content/career/2024-organizer.en.md
Owners: @Kubik161

Add petition and hide one old one
  assets/scss/_events.scss
  content/events/2023-call-for-support-transparency.cs.md
  content/events/2023-call-for-support-transparency.en.md
  content/events/2024-petition-remote-work-is-legitimate-work.cs.md
  content/events/2024-petition-remote-work-is-legitimate-work.en.md
  content/events/2024-petition-social-dialog.cs.md
  content/events/2024-petition-social-dialog.en.md
Owners: @turboMaCk, @Kubik161

Fix duration
  content/events/2024-petition-remote-work-is-legitimate-work.cs.md
  content/events/2024-petition-remote-work-is-legitimate-work.en.md
Owners: @Kubik161

Add petition and hide one old one (#288)
  assets/scss/_events.scss
  content/events/2023-call-for-support-transparency.cs.md
  content/events/2023-call-for-support-transparency.en.md
  content/events/2024-petition-remote-work-is-legitimate-work.cs.md
  content/events/2024-petition-remote-work-is-legitimate-work.en.md
  content/events/2024-petition-social-dialog.cs.md
  content/events/2024-petition-social-dialog.en.md
Owners: @turboMaCk, @Kubik161

Create job ad (#289)
  content/career/2024-administrative-help.cs.md
  content/career/2024-administrative-help.en.md
Owners: @Kubik161

Add options for company field (#291)
  layouts/register/list.html
Owners: @turboMaCk

Fix #285: Workplace organizing CTA (#290)
  assets/scss/_home.scss
  config.toml
  content/_index.cs.md
  content/_index.en.md
  content/workplaces/_index.cs.md
  content/workplaces/_index.en.md
  layouts/partials/home-header.html
Owners: @turboMaCk, @Kubik161

infosys announcement statement (#293)
  content/statements/2024-workplace-infosys.cs.md
  content/statements/2024-workplace-infosys.en.md
Owners: @Kubik161

better upcoming title and both dates for events (#294)
  assets/scss/_events.scss
  config.toml
  layouts/partials/event-item.html
Owners: @turboMaCk

dhl workplace (#295)
  content/workplaces/dhl/index.cs.md
  content/workplaces/dhl/index.en.md
Owners: @Kubik161

changed union phone number (#296)
  config.toml
  content/events/2023-climate-workshop-brno/index.cs.md
  content/events/2023-climate-workshop-brno/index.en.md
  content/events/2023-climate-workshop-praha/index.cs.md
  content/events/2023-climate-workshop-praha/index.en.md
  content/events/2023-union-beer.cs.md
  content/events/2023-union-beer.en.md
Owners: @turboMaCk, @Kubik161

.github/CODEOWNERS:

# !!! ATTENTION !!!
#
# In general do not put your identifiable information to any file in the repository.
# This includes any github user name, email, name or anythign that might identify you.
# That is of course unless you're OK with being publically associated with the project
# and therefore the union.

# Content
/content/            @Kubik161

# Config
*.json               @turboMaCk
*.toml               @turboMaCk

# Logic
*.js                 @turboMaCk
*.ts                 @turboMaCk

# Templates and styles
*.html               @turboMaCk
*.scss               @turboMaCk

# Docker and nix
*.nix                @turboMaCk
Dockerfile           @turboMaCk @wojciech29 @daniilsvirin
docker-compose.yaml  @turboMaCk @wojciech29 @daniilsvirin

# CI
.github/workflows    @turboMaCk @wojciech29 @daniilsvirin

# Setup Documentation
docs                 @turboMaCk
