Repository ictunion/main-website-public, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kubik161, @turboMaCk, @wojciech29, @daniilsvirin

improve english variant of 3rd box in participate (#178)
  content/home-participate/box-3.en.md
Owners: @Kubik161

improve english variant of 3rd box in participate (#178)
  content/home-participate/box-3.en.md
Owners: @Kubik161

Enable events (#179)
  archetypes/events.md
  assets/scss/_events.scss
  assets/scss/_home.scss
  assets/scss/_mixins.scss
  assets/scss/_site-styles.scss
  assets/ts/events.ts
  assets/ts/web-component/Xqr.ts
  content/_index.cs.md
  content/_index.en.md
  content/events/1-klimathon.cs.md
  content/events/1-klimathon.en.md
  content/events/2-revolution.cs.md
  content/events/2-revolution.en.md
  content/events/2023-klimathon.cs.md
  content/events/2023-klimathon.en.md
  content/events/_index.cs.md
  content/events/_index.en.md
  i18n/cs.toml
  i18n/en.toml
  layouts/events/single.html
  layouts/index.html
  layouts/partials/footer.html
  layouts/partials/header.html
  static/images/events/2023-klimathon-poster.png
Owners: @turboMaCk, @Kubik161

Enable events (#179)
  archetypes/events.md
  assets/scss/_events.scss
  assets/scss/_home.scss
  assets/scss/_mixins.scss
  assets/scss/_site-styles.scss
  assets/ts/events.ts
  assets/ts/web-component/Xqr.ts
  content/_index.cs.md
  content/_index.en.md
  content/events/1-klimathon.cs.md
  content/events/1-klimathon.en.md
  content/events/2-revolution.cs.md
  content/events/2-revolution.en.md
  content/events/2023-klimathon.cs.md
  content/events/2023-klimathon.en.md
  content/events/_index.cs.md
  content/events/_index.en.md
  i18n/cs.toml
  i18n/en.toml
  layouts/events/single.html
  layouts/index.html
  layouts/partials/footer.html
  layouts/partials/header.html
  static/images/events/2023-klimathon-poster.png
Owners: @turboMaCk, @Kubik161

Events improvements (#180)
  archetypes/events.md
  archetypes/statements.md
  assets/images/events/2023-klimathon-poster.png
  assets/scss/_configuration.scss
  assets/scss/_events.scss
  assets/scss/_home.scss
  assets/scss/_mixins.scss
  assets/scss/_site-styles.scss
  config.toml
  content/_index.cs.md
  content/_index.en.md
  content/about/index.cs.md
  content/about/index.en.md
  content/events/2022-inflation-survey.cs.md
  content/events/2022-inflation-survey.en.md
  content/events/2022-it-and-climate-webinar.cs.md
  content/events/2022-it-and-climate-webinar.en.md
  content/events/2022-labour-lawyer.cs.md
  content/events/2022-labour-lawyer.en.md
  content/events/2022-picnic.cs.md
  content/events/2022-picnic.en.md
  content/events/2023-klimathon.cs.md
  content/events/2023-klimathon.en.md
  content/events/_index.cs.md
  content/events/_index.en.md
  content/faq/05-become-member.cs.md
  content/faq/05-become-member.en.md
  content/faq/09-union-dues.cs.md
  content/faq/09-union-dues.en.md
  content/home-events/index.cs.md
  content/home-events/index.en.md
  content/home-participate/box-2.cs.md
  content/home-participate/box-2.en.md
  i18n/cs.toml
  i18n/en.toml
  layouts/events/list.html
  layouts/events/single.html
  layouts/index.html
  layouts/partials/event-item.html
Owners: @turboMaCk, @Kubik161

Events improvements (#180)
  archetypes/events.md
  archetypes/statements.md
  assets/images/events/2023-klimathon-poster.png
  assets/scss/_configuration.scss
  assets/scss/_events.scss
  assets/scss/_home.scss
  assets/scss/_mixins.scss
  assets/scss/_site-styles.scss
  config.toml
  content/_index.cs.md
  content/_index.en.md
  content/about/index.cs.md
  content/about/index.en.md
  content/events/2022-inflation-survey.cs.md
  content/events/2022-inflation-survey.en.md
  content/events/2022-it-and-climate-webinar.cs.md
  content/events/2022-it-and-climate-webinar.en.md
  content/events/2022-labour-lawyer.cs.md
  content/events/2022-labour-lawyer.en.md
  content/events/2022-picnic.cs.md
  content/events/2022-picnic.en.md
  content/events/2023-klimathon.cs.md
  content/events/2023-klimathon.en.md
  content/events/_index.cs.md
  content/events/_index.en.md
  content/faq/05-become-member.cs.md
  content/faq/05-become-member.en.md
  content/faq/09-union-dues.cs.md
  content/faq/09-union-dues.en.md
  content/home-events/index.cs.md
  content/home-events/index.en.md
  content/home-participate/box-2.cs.md
  content/home-participate/box-2.en.md
  i18n/cs.toml
  i18n/en.toml
  layouts/events/list.html
  layouts/events/single.html
  layouts/index.html
  layouts/partials/event-item.html
Owners: @turboMaCk, @Kubik161

Minor improvements and unifications (#181)
  assets/scss/_home.scss
  assets/scss/_mixins.scss
  assets/scss/_statements.scss
  layouts/events/single.html
  layouts/partials/footer.html
  layouts/statements/list.html
  layouts/statements/single.html
  layouts/statutes/single.html
Owners: @turboMaCk

Minor improvements and unifications (#181)
  assets/scss/_home.scss
  assets/scss/_mixins.scss
  assets/scss/_statements.scss
  layouts/events/single.html
  layouts/partials/footer.html
  layouts/statements/list.html
  layouts/statements/single.html
  layouts/statutes/single.html
Owners: @turboMaCk

minor text changes (#182)
  content/about/index.en.md
  content/home-participate/box-3.en.md
  i18n/cs.toml
  i18n/en.toml
Owners: @Kubik161, @turboMaCk

minor text changes (#182)
  content/about/index.en.md
  content/home-participate/box-3.en.md
  i18n/cs.toml
  i18n/en.toml
Owners: @Kubik161, @turboMaCk

Klimathon updates (#183)
  content/_index.en.md
  content/events/2022-it-and-climate-webinar.cs.md
  content/events/2022-it-and-climate-webinar.en.md
  content/events/2023-klimathon.cs.md
  content/events/2023-klimathon.en.md
  i18n/en.toml
Owners: @Kubik161, @turboMaCk

Klimathon updates (#183)
  content/_index.en.md
  content/events/2022-it-and-climate-webinar.cs.md
  content/events/2022-it-and-climate-webinar.en.md
  content/events/2023-klimathon.cs.md
  content/events/2023-klimathon.en.md
  i18n/en.toml
Owners: @Kubik161, @turboMaCk

Translate sub footer (#185)
  config.toml
  layouts/partials/footer.html
Owners: @turboMaCk

Translate sub footer (#185)
  config.toml
  layouts/partials/footer.html
Owners: @turboMaCk

Add content hashes to file names (#186)
  layouts/about/single.html
  layouts/events/single.html
  layouts/partials/header.html
  layouts/partials/home-header.html
  layouts/partials/site-end.html
  layouts/partials/site-head.html
  layouts/register/list.html
  layouts/statements/single.html
Owners: @turboMaCk

Add content hashes to file names (#186)
  layouts/about/single.html
  layouts/events/single.html
  layouts/partials/header.html
  layouts/partials/home-header.html
  layouts/partials/site-end.html
  layouts/partials/site-head.html
  layouts/register/list.html
  layouts/statements/single.html
Owners: @turboMaCk

added union beer and webinar poster (#187)
  assets/images/events/2022-climate-webinar-poster.png
  content/events/2022-it-and-climate-webinar.cs.md
  content/events/2022-it-and-climate-webinar.en.md
  content/events/2023-union-beer.cs.md
  content/events/2023-union-beer.en.md
  static/images/events/2023-klimathon-poster.png
Owners: @Kubik161

added union beer and webinar poster (#187)
  assets/images/events/2022-climate-webinar-poster.png
  content/events/2022-it-and-climate-webinar.cs.md
  content/events/2022-it-and-climate-webinar.en.md
  content/events/2023-union-beer.cs.md
  content/events/2023-union-beer.en.md
  static/images/events/2023-klimathon-poster.png
Owners: @Kubik161

Events final polishes (#189)
  assets/images/events/2023-klimathon-poster.png
  assets/scss/_events.scss
  content/events/2022-it-and-climate-webinar/index.cs.md
  content/events/2022-it-and-climate-webinar/index.en.md
  content/events/2022-it-and-climate-webinar/poster.png
  content/events/2023-klimathon/index.cs.md
  content/events/2023-klimathon/index.en.md
  content/events/2023-klimathon/poster-cs.png
  content/events/2023-klimathon/poster-en.png
  content/events/2023-union-beer.cs.md
  content/events/2023-union-beer.en.md
  layouts/events/single.html
Owners: @turboMaCk, @Kubik161

Events final polishes (#189)
  assets/images/events/2023-klimathon-poster.png
  assets/scss/_events.scss
  content/events/2022-it-and-climate-webinar/index.cs.md
  content/events/2022-it-and-climate-webinar/index.en.md
  content/events/2022-it-and-climate-webinar/poster.png
  content/events/2023-klimathon/index.cs.md
  content/events/2023-klimathon/index.en.md
  content/events/2023-klimathon/poster-cs.png
  content/events/2023-klimathon/poster-en.png
  content/events/2023-union-beer.cs.md
  content/events/2023-union-beer.en.md
  layouts/events/single.html
Owners: @turboMaCk, @Kubik161

Upgrade hugo (#190)
  Dockerfile
  assets/scss/_configuration.scss
  flake.lock
  nix/pkgs/dart-sass-embedded-bin.nix
Owners: @turboMaCk, @wojciech29, @daniilsvirin

Upgrade hugo (#190)
  Dockerfile
  assets/scss/_configuration.scss
  flake.lock
  nix/pkgs/dart-sass-embedded-bin.nix
Owners: @turboMaCk, @wojciech29, @daniilsvirin

Minor improvements (#191)
  assets/scss/_mixins.scss
  content/home-membership/box-2.en.md
  i18n/cs.toml
Owners: @turboMaCk, @Kubik161

Minor improvements (#191)
  assets/scss/_mixins.scss
  content/home-membership/box-2.en.md
  i18n/cs.toml
Owners: @turboMaCk, @Kubik161

first of may text (#192)
  content/statements/first-of-may-2023.cs.md
  content/statements/first-of-may-2023.en.md
Owners: @Kubik161

first of may text (#192)
  content/statements/first-of-may-2023.cs.md
  content/statements/first-of-may-2023.en.md
Owners: @Kubik161

Statutes update (#188)
  content/statutes/index.cs.md
  content/statutes/index.en.md
Owners: @Kubik161

Statutes update (#188)
  content/statutes/index.cs.md
  content/statutes/index.en.md
Owners: @Kubik161

Change author and improve statute PDFs (#193)
  content/statutes/index.cs.md
  latex/default.nix
  latex/legal.sty
  package.json
Owners: @Kubik161, @turboMaCk

Change author and improve statute PDFs (#193)
  content/statutes/index.cs.md
  latex/default.nix
  latex/legal.sty
  package.json
Owners: @Kubik161, @turboMaCk

Improve klimathon event formatting (#194)
  assets/scss/_mixins.scss
  content/events/2023-klimathon/index.cs.md
  content/events/2023-klimathon/index.en.md
Owners: @turboMaCk, @Kubik161

Improve klimathon event formatting (#194)
  assets/scss/_mixins.scss
  content/events/2023-klimathon/index.cs.md
  content/events/2023-klimathon/index.en.md
Owners: @turboMaCk, @Kubik161

Add new privacy page (#196)
  content/privacy/index.cs.md
  content/privacy/index.en.md
  layouts/basic/single.html
Owners: @Kubik161, @turboMaCk

Add new privacy page (#196)
  content/privacy/index.cs.md
  content/privacy/index.en.md
  layouts/basic/single.html
Owners: @Kubik161, @turboMaCk

add public image version of logo (#198)
  .nvmrc
  flake.lock
  nix/overlay/default.nix
  static/images/logo.png
Owners: @turboMaCk

add public image version of logo (#198)
  .nvmrc
  flake.lock
  nix/overlay/default.nix
  static/images/logo.png
Owners: @turboMaCk

fix language name rendering (#199)
  config.toml
  layouts/partials/footer.html
  layouts/partials/header.html
Owners: @turboMaCk

fix language name rendering (#199)
  config.toml
  layouts/partials/footer.html
  layouts/partials/header.html
Owners: @turboMaCk

Switch support email to union owned domain (#184)
  config.toml
Owners: @turboMaCk

Switch support email to union owned domain (#184)
  config.toml
Owners: @turboMaCk

.github/CODEOWNERS:

# !!! ATTENTION !!!
#
# In general do not put your identifiable information to any file in the repository.
# This includes any github user name, email, name or anythign that might identify you.
# That is of course unless you're OK with being publically associated with the project
# and therefore the union.

# Content
/content/            @Kubik161

# Config
*.json               @turboMaCk
*.toml               @turboMaCk

# Logic
*.js                 @turboMaCk
*.ts                 @turboMaCk

# Templates and styles
*.html               @turboMaCk
*.scss               @turboMaCk

# Docker and nix
*.nix                @turboMaCk
Dockerfile           @turboMaCk @wojciech29 @daniilsvirin
docker-compose.yaml  @turboMaCk @wojciech29 @daniilsvirin

# CI
.github/workflows    @turboMaCk @wojciech29 @daniilsvirin

# Setup Documentation
docs                 @turboMaCk
